// --- L'import des variables --- 
@use '../../styles/vars.scss';

.result {
    color: vars.$color-main;
    margin: 2rem;
    padding: 0.3rem;
  
    &__amount {
      font-size: 2.5rem;
      font-weight: 600;
    }
  
    &__currency {
      font-size: 1.4rem;
      margin-top: 1rem;
    }

    &__button{
      border-radius: 50%;
      padding: 1rem;
      cursor: pointer;
      margin: 1rem;
      font-size: 1rem;
      font-weight: 100;
      color : white;
      background-color: vars.$color-main;
      &:hover {
        background-color: vars.$color-contrast;
      }
    }

  }